{% extends 'base.html.twig' %}
{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<h1>Créer votre article</h1>
{{ form_start(article_form, {'attr' : {'class' : 'form-group'}} ) }}
    {{form(article_form)}}
{{form_end(article_form)}}
{% endblock %}
